<%= render "layouts/header" %>

<div class="row text-center">
  <div class="col-md-6 col-md-offset-3 heading">
    <h3 class="column-header">About</h3>
  </div>
</div>

<div class="row">  
  <div class="col-md-6 col-md-offset-3" id="middle">
    <p class="quote">
      “Yeah here I come just passing through, follow me beyond the mountain, 
      howl at the ol' big moon. Yeah strip them clothes right off your body, 
      dress your skin in sticks and stones. Doesn't matter where were headed 
      cause some us were built to roam.”
      <br>
      —Alejandrio Rose-Garcia
    </p>
    <% @about.each do |photo| %>
      <%= link_to photo.image.url(:original), title: photo.caption, class: "fancybox", rel: "photos" do %>
        <span class="overlay center-block"></span>
        <%= image_tag photo.image.url(:large), class: 'img-responsive' %>
      <% end %>
    <% end %>
  </div>
</div>

<footer class="row text-center">
  <%= link_to "Email", "mailto:etjarent@gmail.com", target: "_blank", class: 'about-link' %>
  /
  <%= link_to "Vimeo", "https://vimeo.com/user966917", target: "_blank", class: 'about-link' %>
  /
  <%= link_to "Instagram", "https://www.instagram.com/etiennearent/", target: "_blank", class: 'about-link' %>
</footer>
