<header class="row">
  <h1 id="home-header" class="text-center"><%= link_to 'Etienne Arent', root_path, class: 'header-link' %></h1>
</header>

<div class="row text-center">
  <div class="col-xs-4 heading">
    <h3><%= link_to 'Videos', video_portfolio_path, class: 'column-header-link' %></h3>
  </div>
  <div class="col-xs-4 heading">
    <h3><%= link_to 'Photography', photo_portfolio_path, class: 'column-header-link' %></h3>
  </div>
  <div class="col-xs-4 heading">
    <h3><%= link_to 'Skiing', skiing_portfolio_path, class: 'column-header-link' %></h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-4" id="left">
    <% @videos.each do |video| %>
      <%= link_to video["vimeo_url"], class: "fancybox-media" do %>
        <span class="overlay center-block"></span>
        <%= image_tag video["thumbnail_url"], class: "img-responsive" %>
      <% end %>
    <% end %>
  </div>   
  <div class="col-xs-4" id="middle">
    <% @photos.each do |photo| %>
      <%= link_to photo.image.url(:original), class: "fancybox", rel: "photos" do %>
        <span class="overlay center-block"></span>
        <%= image_tag photo.image.url(:medium), class: 'img-responsive' %>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-4" id="right">
    <% @skiing.each do |photo| %>
      <%= link_to photo.image.url(:original), class: "fancybox", rel: "skiing" do %>
        <span class="overlay center-block"></span>
        <%= image_tag photo.image.url(:medium), class: 'img-responsive' %>
      <% end %>
    <% end %>
  </div>
</div>

<footer class="row text-center">
  <%= link_to "About", about_path, id: "info-link" %>
</footer>
